.headerBar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6.81vh;
}


.headerLogo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 130px;
    height: auto;
}

.headerAvatar {
    margin-left: auto;
}