.loginContainer {
    background-image: url('../../images/LoginImages/warehouse.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: opacity 0.9s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer.opacity {
    opacity: 0.8;
}

.loginSection {
    background: rgba(364, 364, 364, 0.6);
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    padding-bottom: 55px;
}

.loginSection p {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Patua One";
    color: rgb(37, 37, 37);
}

.loginButton {
    background: none;
    border: 4px solid transparent;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, border 0.3s;
    box-sizing: border-box;
    margin-top: 10px;
    font-family: "Patua One";
    color: rgb(37, 37, 37);
    border-radius: 15px;
}


.loginButton::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 55px;
    width: 8%;
    height: 4px;
    background-color: rgb(37, 37, 37);
    transform: translateX(-50%);
    transition: transform 0.3s, opacity 0.3s;
}

.loginButton:hover::after {
    transform: translateX(-50%) scaleX(0);
    opacity: 0;
}

.loginButton:hover {
    border: 4px solid;
}