.addWarehouseCard {
    width: 230px;
    height: 363px;
    border-radius: 20px !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    margin-top: 16px !important;
    align-content: center;
    position: relative;
    padding-bottom: 60px !important;
    justify-content: center;
    margin-left: 12px !important;
}

.addWarehouseCard:hover {
    transform: scale(1.07) ;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.addWarehouseCardAddIcon{
    margin-top: 50px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type="text"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}