.CardConteiner {
    width: 230px !important;
    height: 363px !important;
    border-radius: 5px !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    overflow: hidden !important;
    margin-top: 16px !important;
    display: flex !important;
    flex-direction: row !important;
    align-content: center !important;
    position: relative !important;
    padding-bottom: 60px !important;
    justify-content: center !important;
    margin-left: 6px !important;
}

.pac-container {
    z-index: 2051 !important;
}

.Add{
    margin-top: 50px !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type="text"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}