.SidebarHeader .MuiTypography-root {
    text-align: center !important;
    font-family: 'Arial', sans-serif !important;
    font-size: 30px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
}