h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.name-container{
    width: 30%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin:1%;
}
.object-container{
    width: 60%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin:1%;
}

.user-container{
    display: flex;
    position: relative;
    justify-content: center;

}

.userListConteiner{
    width: 45%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    margin: 1%;
}

.userListTitle {
    margin-top: 5px;
    margin-bottom: 4px;
    margin-left: 15px;
}

.userListComponent {
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
    margin-top: 0;
}

.userListComponent::-webkit-scrollbar {
    display: none;
}

.title{
    background: #d3d3d3;
    width: 98% ;
    font-family: 'Inter', sans-serif ; /* Applicato il font Inter */
    font-size: 25px ;
    font-weight: bold ;
    margin: 10px ;
    border-radius: 15px;
}

.objects{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.intro{
    margin-top: 10%;
    margin-left: 16%;
    margin-right: 16%;
}

.warehouse-name{
    width: 80%;
    height: 20%;
    border: 2px solid #3498db;
    border-radius: 15px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px ;
    margin-top: 5%;
}

.warehouse-name:hover {
    overflow-x: auto;
}


.warehouse-name::-webkit-scrollbar {
    display: none; /* Nasconde la barra di scorrimento per i browser WebKit */
}