.warehouseIntroContainer {
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:19px;
}

.warehouseBin{
    margin-left: auto;
}

.warehouseName {
    position: sticky;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}

.warehouseThingsContainer {
    width: 92%;
    height: 310px;
    background-color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 20px;
    align-content: center;
    text-align: left;
    margin:1%;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.warehouseUsers {
    display: flex;
    position: relative;
    justify-content: center;
}

.warehouseUsersList {
    width: 45%;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 1%;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.warehouseUserListTitle {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    text-transform: uppercase;
}

.warehouseUserListComponent {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: 0;
}

.warehouseUserListComponent::-webkit-scrollbar {
    display: none;
}

.warehouseThings {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    overflow: scroll;
}

.warehouseName:hover {
    overflow-x: auto;
}


.warehouseName::-webkit-scrollbar {
    display: none;
}

.warehouseBox {
    height: calc(100vh - 200px);
    padding: 20px;
    max-width: 100%;
    max-height: calc(100vh - 90px);
    overflow-y: scroll;
    scrollbar-width: none;
}

.warehouseBox::-webkit-scrollbar {
    display: none;
}

.headerBox{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-top: 60px;
}

.AddUsersTitleBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.warehouseDeleteWarning {
    display: flex;
    align-items: center;
    justify-content: center;
}