.objectCard {
    width: 150px;
    height: 170px;
    box-shadow: gray !important;
    border-radius: 15px !important;
    border: 2px solid rgba(0, 0, 0, 0.2);
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
    margin: 16px;
    position: relative;
}

.objectCardLogoContainer {
    justify-content: center;
    display: flex;
    position: relative;
}

.objectCardLogo {
    margin-top: 5px;
    height: 50px;
    width: 50px !important;
    margin-bottom:5px;
}


.objectCardButton {
    border-radius: 50px !important;
    transition: background-color 0.3s ease;
}

.objectCardButton:hover {
    background-color: transparent !important;
}

.objectName {
    background: #d3d3d3;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 15px !important;
    font-weight: bold !important;
    text-align: center;
}

.objectDescription {
    font-size: 15px !important;
    font-weight: bold !important;
}

.objectContent {
    display:flex;
    justify-content:center;
    position:absolute;
}

.objectQuantity {
    padding-left: 15%;
    padding-right: 15%;
    align-items :baseline;
    justify-content: space-between;
    padding-top: 10px;
    display: flex;
}
.objectQuantityContainer{
    font-weight: bold;
    font-size: 13px;
    background: #eceaea;
    width: 27%;
    border-radius: 10px;
}

.objectModifyQuantityContainer{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-left: 15%;
    padding-right: 15%;
    flex-direction: row-reverse;
}

.objectDataContainer{
    height: 166px;
}

.objectChangeNumber{
    position: relative;
    width: 35%;
    bottom: -10%;
}

.objectBin{
    position: relative !important;
    margin-left: 110px !important;
    margin-top: -17px !important;
}

.alert{
    color: red !important;
    padding: 0 !important;
    position: absolute !important;
    margin-left: 17px !important;
    margin-top: -8px !important;
    animation: blink 1s infinite;
    cursor: pointer;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}