.main {
    position: fixed;
    overflow: hidden;
    width: 100%;
}

h1{
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.mainWarehouses {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    height: calc(100vh - 200px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
