.warehouseCard {
    width: 230px;
    height: 300px;
    box-shadow: none !important;
    border-radius: 20px !important;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 60px;
    justify-content: center;
    margin-left: 12px;
    font-family: 'Inter', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.warehouseCard:hover {
    transform: scale(1.07) ;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.warehouseCardLocalizationBox {
    position: absolute !important;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1976D2;
    border-radius: 50px !important;
    width: fit-content;
    text-transform: none !important;
    height: 45px;
    transition: background-color 0.3s ease;
    font-family: 'Inter', sans-serif;
}

.warehouseCardLocalizationIncon {
    margin-bottom: 5px;
    margin-top: 5px;
    height: 30px !important;
    width: 30px !important;
    font-family: 'Inter', sans-serif;

}

.warehouseCardIcon {
    left: 12%;
    position: relative;
    margin-bottom: 5px;
    width: 150px !important;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.warehouseCardName {
    background-color: rgba(25, 118, 210, 0.5);
    width: 200px;
    height: 30px;
    border-radius: 15px;
    margin-top: 10px;
    padding: 4px 6px;
    font-family: 'Inter', sans-serif !important;
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center;
    white-space: nowrap;
    overflow: scroll;
    cursor: pointer;
    scrollbar-width: none;
}

.warehouseCardDescription {
    font-family: 'Inter', sans-serif !important; /* Applicato il font Inter */
    font-size: 15px !important;
    font-weight: bold !important;
    margin-top: 5px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 200px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    word-break: break-word;
    scrollbar-width: none;
}

.warehouseCardName::-webkit-scrollbar,
.warehouseCardDescription::-webkit-scrollbar {
    display: none;
}