.warehouseCardConteiner {
    width: 230px !important;
    height: 300px !important;
    box-shadow: none !important;
    border-radius: 20px !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    overflow: hidden !important;
    margin-top: 20px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    position: relative !important;
    padding-bottom: 60px !important;
    justify-content: center !important;
    margin-left: 12px !important;
    font-family: 'Inter', sans-serif !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.warehouseCardConteiner:hover {
    transform: scale(1.07) ; /* Effetto di ingrandimento e sollevamento */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Ombra più intensa per l'effetto di sollevamento */
}

.place {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    height: 38px !important;
    width: 38px !important;
    font-family: 'Inter', sans-serif !important;

}


.placeBox {
    position: absolute !important;
    bottom: 15px !important;
    left: 50%; /* Centra orizzontalmente il box */
    transform: translateX(-50%);
    flex-direction: row !important;
    background-color: #1976D2 !important;
    border-radius: 50px !important;
    width: fit-content !important;
    text-transform: none !important;
    height: 45px !important;
    transition: background-color 0.3s ease !important;
    font-family: 'Inter', sans-serif !important;
}

.icon {
    left: 12%;
    justify-content: center !important;
    display: flex !important;
    flex-direction: row !important;
    align-content: center !important;
    position: relative !important;
    width: 150px !important;
    font-family: 'Inter', sans-serif !important;
}

.warehouseCardName {
    background-color: rgba(25, 118, 210, 0.5);
    width: 200px !important;
    height: 30px !important;
    border-radius: 15px !important;
    margin-top: 10px !important;
    padding: 4px 6px !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    white-space: nowrap !important; /* Mantiene il testo su una singola riga */
    overflow: hidden !important; /* Nasconde il testo che esce dai bordi */
    cursor: pointer !important; /* Cambia il cursore per indicare che il testo è interattivo */
}

.warehouseCardName:hover,
.warehouseCardDescription:hover {
    overflow-x: auto !important; /* Permette lo scorrimento orizzontale al passaggio del mouse */
}

.warehouseCardName::-webkit-scrollbar,
.warehouseCardDescription::-webkit-scrollbar {
    display: none; /* Nasconde la barra di scorrimento per i browser WebKit */
}

.warehouseCardDescription {
    font-family: 'Inter', sans-serif !important; /* Applicato il font Inter */
    font-size: 15px !important;
    font-weight: bold !important;
    margin-top: 5px !important;
    overflow: scroll !important; /* Nasconde il testo che esce dai bordi */
    width: 200px !important;
    height: 80px !important;
    cursor: pointer !important; /* Cambia il cursore per indicare che il testo è interattivo */
    text-align: center !important;
}
 