h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.name-container{
    width: 30%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin:1%;
}
.object-container{
    width: 60%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin:1%;
}

.user-container{
    display: flex;
    position: relative;
    justify-content: center;

}

.f{
    width: 45%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin: 1%;
}

