.headerSecondAvatar {
    margin: 0 auto;
}

.headerNickname {
    display: flex;
    gap: 8px;
    overflow: hidden;
}

.headerNicknameSpan {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.headerExit {
    display: flex;
    gap: 8px;
}